
{% macro headTag(title = "") %}
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  
  <base href="/" />
  
  <script src="index.js" async></script>
  <link type="text/css" href="index.css" rel="stylesheet"/>
</head>
{% endmacro %}

{% macro footerTag() %}
<footer>
  RCC
</footer>
{% endmacro %}
