
<div id="person-form">
  
  <div class="light"></div>
  <svg class="quadro"></svg>
  
  <form>
    <h2>Person Form</h2>
    
    <hr />
  </form>
  
  <svg template="baloes">
    <g class="baloes">
      <circle class="circulo c1" stroke="#444" stroke-width="2" r="5" fill="none"/>
      <circle class="circulo c2" stroke="#555" stroke-width="2" r="2" fill="none"/>
    </g>
  </svg>
  <svg template="bola">
    <circle class="bola" r="1" stroke="none" stroke-width="0"/>
  </svg>
  
</div>
