
{% macro headTag(title = "") %}
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  
  <script src="index.js"></script>
  <link type="text/css" href="index.css" rel="stylesheet"/>
</head>
{% endmacro %}
