{% import "paginas-frags/headfoot.njk" as headfoot %}

<!DOCTYPE html>
<html>
  {{ headfoot.headTag(title = "Página principal") }}
  <body>
    
    {% include "paginas/quadro-vermelho/quadro-vermelho.njk" %}
    
  </body>
</html>