{% import "headfoot.njk" as headfoot %}

<!DOCTYPE html>
<html>
  {{ headfoot.headTag(title = "Página principal") }}
  <body>
    
    <div id="pagina1">
      <div class="quadro vermelho"></div>
    </div>
    
    
  </body>
</html>